ol {
    list-style-type: lower-roman;
    /*
    list-style-type: decimal;
    list-style-type: decimal-leading-zero;
    list-style-type: lower-alpha;
    list-style-type: upper-alpha;
    list-style-type: upper-roman;
     */
}
ul {
    /*
    list-style-type: none;
    list-style-type: disc;
    list-style-type: circle;
    list-style-type: square;
     */
}