body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
}
h1 {
    background-color: #efefef;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 500px;
    width: 450px;
}
p {
    width: 450px;
}